h1 {
  background-color: red;
}
body {
  background-image: url(dice.jpeg);
  
}
.player0, .player1 {
  background-color: grey;
  float:left;
  font-family: fantasy;
  width: 50%;
  height: 400px;
  padding: 100px;
  margin-top: 0.5em;

}
.buttons {
  margin-top: 200px;
  padding-right: 100px;
  clear: left;
}
.current-box {
  border-style: outset;
}
.playerone, .playertwo p {
  font-family: fantasy;
}
.active {
  opacity: 0.9;
}
